body {
    color: #525050;
    font-family: Arial;
    font-size: 12px;
}

h1 {
    font-size: 22px;
    margin: 0.5em 0 0.5em 0.3em;
}

h2 {
    font-size: 16px;
    margin: 0.7em 0 0.3em;
}

table {
    border-spacing: 0;
}

th {
    text-align: left;
}

.fLeft {
    float: left;
}

.pr50 {
    padding-right: 50px;
}

.pt13 {
    padding-top: 13px;
}

.pr100 {
    padding-right: 100px;
}

.pt10 {
    padding-top: 10px;
}

.pr30 {
    padding-right: 30px;
}

.ml5 {
    margin-left: 5px;
}

.pt2 {
    padding-top: 2px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml10 {
    margin-left: 10px;
}

.w15 {
    width: 15px;
}

.h15 {
    height: 15px;
}

.w48p {
    width: 48%;
}

.w100p {
    width: 100%;
}

.blueHlBg {
    background-color: #bbffff;
}

.greenBg {
    background-color: #aaffaa;
}

.yellowBg {
    background-color: #fffecd;
}

.b_999 {
    border: 1px solid #999999;
}

.clear {
    clear: both;
}

.simpleTable /*for ie7*/
{
    line-height: 16px;
}

.simpleTable caption
{
    text-align: left;
    font-style: normal;
    padding:0px 0px 4px;
}
.simpleTable thead,
.simpleTable tbody,
.simpleTable .borderClass,
table.borderClass /* for ie7 */
{
    border: 1px solid #777676;
}
.simpleTable th
{
    background: #6E6D6D;
    line-height: 22px;
}
.simpleTable td.selectAll
{
    text-align: right;
    border: none;
    border-top: 1px solid #777676;
}

.simpleTable tbody td
{
    vertical-align: top;
    padding-top: 13px;
}
.simpleTable tbody td label,
.simpleTable tbody td span.requiredLabel
{
    text-align: left;
}

table.altRows td
{
    color: #797777;
    padding: 4px 10px;
    font: normal normal 12px Arial;
    letter-spacing: 1px;
    vertical-align: middle;
}
table.altRows tr.row0 td
{
    background-color: #f4f4f4;
}
table.altRows tr.row1 td
{
    background-color: white;
}
table.altRows tr td.mp_label
{
    color: #9d9d9d;
    font-size: 10px;
    width: 100%;
}
table.altRows tr td.mp_value
{
    color: #333333;
    font-weight: bold;
    font-size: 10px;
}
table.altRows th
{
    background-color: #797777;
    color: white;
    padding: 3px 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
}